footer { 
    background-color: bisque; 
    text-align: center; 
    padding: 10px; 
    font-size: 14px; 
    margin-top: auto; 
    border-top: 3px solid white; 
    
    .icons i img { 
      width: 60px; 
      height: 50px; 
    } 
  }